$gray: #272B2F;
$blue: #1FB5E3;
$light-gray: #707070;

@font-face {
  font-family: "DroidSans";
  src: url("../fonts/DroidSans.ttf");
}

@font-face {
  font-family: "DroidSans-Bold";
  src: url("../fonts/DroidSans-Bold.ttf");
}

@font-face {
  font-family: "Karbon-Light";
  src: url("../fonts/Karbon-Light.otf");
}

@font-face {
  font-family: "Karbon-Regular";
  src: url("../fonts/Karbon-Regular.otf");
}
