@import 'settings';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

.wrapper {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.section-header {
  font-family: "Karbon-Regular";
  font-size: 60px;
  color: $blue;
  padding: 70px 0;
}

#toggle-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 16px;
  right: 35px;
  background: transparent;
  border: none;
  outline: 0;
  display: none;
  @media screen and (max-width: 960px) {
    opacity: 1;
    display: block;
  }

  span {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: #fff;
    display: block;
    margin: 5px 0;
  }
}

.active {
  float: right;
  right: -25px;
  position: absolute;
  z-index: 999999999;
  display: block !important;
  background: $gray;
  opacity: 1 !important;

  .social-icon {
    float: left;
  }

  .menu-item {
    height: 55px;
  }
}

.main-navigation {
  position: fixed;
  top: -1px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 71px;
  line-height: 71px;
  background: $gray;

  .menu-container {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    float: right;
    margin-right: 20px;
    @media screen and (max-width: 1280px) {
      font-size: 11px;
    }
    @media screen and (max-width: 960px) {
      display: none;
    }

    .menu-item {
      list-style: none;
      padding: 0 30px;
      @media screen and (max-width: 1280px) {
        padding: 0 20px;
      }

      &:not(:first-child) {
        border-left: 1px solid $light-gray;
      }

      a {
        text-decoration: none;
        color: #fff;

        span {
          font-weight: 400;
          font-size: 1.05em;
        }
      }
    }

    .social-icon {
      display: grid;
      padding-top: 5px;
      height: 71px;
    }
  }

  .logo {
    left: 35px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      bottom: -3px;
      height: 3px;
    }

    &::before {
      width: 30px;
      background: $blue;
    }

    &::after {
      width: 69px;
      left: 30px;
      background: #F19621;
    }
  }
}

.banner {
  width: 100%;
  height: 675px;
  background: $blue;
  position: relative;

  &::before {
    content: '';
    background: url("../img/vectorip.png");
    background-size: cover;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
  }

  h2 {
    font-size: 80px;
    font-weight: 300;
    padding-top: 200px;
    line-height: 80px;
    z-index: 3;
    color: #fff;
    font-family: "Karbon-Light";
    @media screen and (max-width: 555px) {
      font-size: 50px;
    }
    @media screen and (max-width: 320px) {
      font-size: 40px;
    }
  }
}

.section-navigation {
  width: 100%;
  background: #fff;
  min-height: 55px;

  &_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 55px;
    list-style: none;
    text-transform: uppercase;
    justify-content: center;

    .section-item {
      margin: 0 2em;
      padding: 20px 50px 0 0;
      font-size: 17px;
      font-weight: 700;
      line-height: 17px;
      border-right: 1px solid $light-gray;
      @media screen and (max-width: 1280px) {
        font-size: 13px;
      }
      @media screen and (max-width: 1013px) {
        font-size: 11px;
      }
      @media screen and (max-width: 555px) {
        margin: 0 5px;
        padding: 0;
        margin-top: 10px;
        border: 0;
      }
    }
  }
}

.services {
  width: 100%;
  background: #f1f4f6;
  padding-bottom: 80px;

  .paragraph-container {
    width: 100%;

    &::after {
      display: table;
      content: '';
      clear: both;
    }

    p {
      font-size: 14px;
      width: 50%;
      float: left;
    }
  }

  .img-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 100px;

    figure {
      margin: 30px;
    }
  }
}

.products {
  width: 100%;
  min-height: 500px;
  position: relative;
  background: $blue;
  display: flex;
  @media screen and (max-width: 1046px) {
    padding-bottom: 100px;
  }

  .product-content {
    width: 30%;
    margin: 0 1%;
    display: block;
    float: left;
    @media screen and (max-width: 1046px) {
      width: 100%;
      float: none;
    }

    img {
      float: left;
      margin-right: 15px;
      @media screen and (max-width: 1280px) {
        padding-bottom: 20px;
      }
    }

    h3 {
      color: #fff;
      font-size: 30px;
      font-family: "Karbon-Light";

      sup {
        font-size: 13px;
      }
    }

    .subtitle {
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;

      &::after {
        content: '';
        width: 130px;
        height: 1px;
        background: $light-gray;
        opacity: 0.2;
        position: absolute;
        bottom: -10px;
        left: 109px;
      }
    }

    .product-description {
      clear: both;
      margin: 20px 0 0 108px;
      font-family: "Karbon-Light";
      font-size: 14px;
      color: #fff;
      @media screen and (max-width: 1280px) {
        margin: 20px 0 0 22px;
      }
      @media screen and (max-width: 1046px) {
        margin: 0;
        display: table-cell;
        padding: 30px 0;
        font-size: 16px;
      }
      @media screen and (max-width: 670px) {
        display: block;
      }
    }
  }

  .section-header {
    color: #fff;
  }

  &::after,
  &::before {
    position: absolute;
    content: ' READ MORE';
    line-height: 40px;
    font-size: 11px;
    font-weight: 700;
    left: calc(50% - 48px);
    width: 66px;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }

  &::before {
    color: #fff;
    border-bottom: 32px solid $blue;
    top: -31px;
  }

  &::after {
    color: $blue;
    border-bottom: 32px solid #f1f4f6;
    bottom: 0;
  }
}

.careers {
  width: 100%;
  min-height: 760px;
  background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media screen and (max-width: 1600px) {
    min-height: 1100px;
  }

  .hexagon {
    width: 12em;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    position: absolute;
    transform: scale(2);
    @media screen and (max-width: 1032px) {
      transform: scale(1.5);
    }

    &::before {
      content: '';
      position: absolute;
      left: -3em;
      top: calc(5em - 1px);
      width: 6em;
      border-top: 5em solid $blue;
      border-left: 3em solid transparent;
      border-right: 3em solid transparent;
    }
  }

  .hexagon1 {
    border-bottom: 5em solid $blue;
    top: -1px;
    left: 22%;
    @media screen and (max-width: 1280px) {
      left: 12%;
      top: 40px;
    }
    @media screen and (max-width: 1032px) {
      left: 11%;
    }
  }

  .hexagon2 {
    border-bottom: 5em solid $blue;
    top: 159px;
    left: calc(22% + 288px);
    @media screen and (max-width: 1280px) {
      left: calc(12% + 288px);
      top: 200px;
    }
    @media screen and (max-width: 972px) {
      left: 11%;
      top: 300px;
    }
  }

  .hexagon3 {
    border-bottom: 5em solid #fff;
    top: 480px;
    left: calc(22% + 288px);
    @media screen and (max-width: 1280px) {
      left: calc(12% + 505px);
    }
    @media screen and (max-width: 972px) {
      left: 11%;
      top: 550px;
    }

    &::before {
      border-top: 5em solid #fff;
    }
  }

  .hexagon4 {
    border-bottom: 5em solid #F19621;
    top: 159px;
    right: 22%;
    @media screen and (max-width: 1600px) {
      right: 10%;
    }
    @media screen and (max-width: 1280px) {
      transform: scale(1.5);
    }
    @media screen and (max-width: 972px) {
      left: 11%;
      top: 800px;
    }

    &::before {
      border-top: 5em solid #F19621;
    }
  }

  .hexagon1-content,
  .hexagon2-content,
  .hexagon3-content {
    position: absolute;
    left: 22%;
    top: 40px;
    @media screen and (max-width: 1280px) {
      left: 12%;
    }

    h3 {
      color: #fff;
      font-size: 40px;
      font-family: "Karbon-Light";
      text-align: center;
      @media screen and (max-width: 1032px) {
        font-size: 30px;
      }
    }

    p {
      font-family: "Karbon-Light";
      margin-top: 10px;
      font-size: 14px;
      color: #fff;
    }
  }

  .hexagon2-content {
    top: 164px;
    left: calc(22% + 288px);
    text-align: center;
    @media screen and (max-width: 1280px) {
      left: calc(12% + 288px);
      top: 205px;
    }
    @media screen and (max-width: 1032px) {
      left: calc(12% + 315px);
    }
    @media screen and (max-width: 972px) {
      left: 13%;
      top: 300px;
    }
    @media screen and (max-width: 435px) {
      left: 15%;
    }

    img {
      margin-bottom: 20px;
    }
  }

  .hexagon3-content {
    top: 484px;
    left: calc(22% + 325px);
    text-align: center;
    @media screen and (max-width: 1280px) {
      left: calc(12% + 542px);
      top: 524px;
    }
    @media screen and (max-width: 1032px) {
      top: 500px;
      left: calc(12% + 550px);
    }
    @media screen and (max-width: 972px) {
      left: 15%;
      top: 570px;
    }
    @media screen and (max-width: 435px) {
      left: 22%;
    }

    img {
      margin-bottom: 20px;
    }

    h3 {
      color: $blue;
    }
  }

  .hexagon4-content {
    position: absolute;
    top: 164px;
    right: 22%;
    margin-right: 5px;
    @media screen and (max-width: 1600px) {
      right: 10%;
    }
    @media screen and (max-width: 1280px) {
      transform: scale(1.5);
      right: 12%;
      top: 174px;
    }
    @media screen and (max-width: 972px) {
      left: 15%;
      right: inherit;
      top: 820px;
    }
    @media screen and (max-width: 435px) {
      left: 20%;
    }

    h3 {
      color: #fff;
      font-size: 40px;
      font-family: "Karbon-Light";
      text-align: center;
      @media screen and (max-width: 1280px) {
        font-size: 20px;
      }
    }

    .date,
    .hexagon-subtitle {
      font-family: "Karbon-Light";
      margin-top: 10px;
      font-size: 14px;
      color: #fff;
      text-align: center;
      @media screen and (max-width: 1280px) {
        margin-top: 2px;
        font-size: 10px;
      }

      span {
        color: #B84C0A;
      }
    }

    .date {
      font-weight: 700;
      font-size: 15px;
      @media screen and (max-width: 1280px) {
        font-size: 10px;
      }
    }
  }
}

.footer {
  float: left;
  width: 100%;
  background: $gray;
  display: inline-block;
  padding-top: 25px;

  &-links {
    display: inline-block;
    float: left;
    width: 80%;
    @media screen and (max-width: 814px) {
      width: 100%;
    }

    .footer-content {
      width: 20%;
      float: left;
      min-height: 200px;
      position: relative;
      @media screen and (max-width: 626px) {
        width: 50%;
      }

      h5 {
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        margin-bottom: 10px;
      }

      a {
        color: #828A90;
        font-size: 12px;
        display: block;
        text-decoration: none;
        padding: 3px 0;
      }

      &::before {
        content: '';
        width: 30px;
        height: 1px;
        background: $light-gray;
        opacity: 0.2;
        position: absolute;
        top: -7px;
        left: 0;
      }
    }
  }

  &-map {
    display: inline-block;
    position: relative;
    float: left;
    background: $light-gray;
    width: 20%;
    @media screen and (max-width: 814px) {
      width: 100%;
    }

    h4 {
      color: #fff;
      font-size: 28px;
      font-family: "Karbon-Light";
      padding: 15px;
    }

    .address-list {
      list-style: none;
      color: #828A90;
      font-size: 12px;
      padding: 1em;

      span {
        color: #fff;
      }
    }
  }

  #mapa {
    width: 100%;
    height: 144px;
  }
}

footer {
  float: left;
  width: 100%;
  min-height: 65px;
  background: #282828;
  color: $light-gray;
  line-height: 65px;
  font-size: 14px;
  display: inline-block;

  p:first-child {
    float: left;
  }

  p:nth-child(2) {
    float: right;
  }
  @media screen and (max-width: 674px) {
    font-size: 3px;
    line-height: 30px;
  }
}
